h1 {
  text-align: center;
  font-size: 4rem;
  padding: 1rem;
}
.Carousel {
  width: 50%;
  height: -10rem;
  margin-left: 25rem;
}

body {
  background-color: rgba(73, 123, 172, 0.607);
}

.Roman-Rottweiler-Text {
  font-weight: 500;
  font-size: 1.3rem;
  color: #000;
  padding: 1rem;
  max-width: 50%;
  float: right;
}

.text-container {
  border-radius: 25px;
  padding: 1rem;
  margin: 1rem;
  margin-left: 5rem;
  margin-right: 5rem;
  background-color: burlywood;
}

.text-heading {
  font-weight: bold;
}
